{% extends 'base.html' %}

<!-- TODO: Ameliorer tout le code -->
<!-- TODO: Separer les langages dans leurs fichiers respectifs-->
{% block head %} 
    <script type='text/javascript'>
        console.log("Connecté en tant que {{user}}")

        function clickOnDownload() {
            console.log("Click")
            $(".downloadButton:eq(0)").addClass(" disabled")
            $("#downloadDiv").css("cursor", "wait")
            $("#downloadText").css("display", "block")
        }

        function clickOnColumn(e) {
            const order = new URLSearchParams(window.location.search).get("order")
            const sort = new URLSearchParams(window.location.search).get("sort")

            if (sort === e.id) {
                var newOrder = order === "desc" ? "" : "desc"
            }
            else {
                var newOrder = ""
            }

            window.location = (
                window.location.origin +
                window.location.pathname + 
                "?htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang{{current_lang}}=&sort=" +
                e.id + 
                "&order=" +
                newOrder +
                "&limit={{current_limit}}"
            )
        }
    </script>
{% endblock %}

{% block content %}
    <div class="text-center">
        <form method="get">
            <div class="row">
                <div class="col">
                    <label for="htag">Hashtag:</label>
                </div>
                <div class="col">
                    <label for="source">Source:</label>
                </div>
                <div class="col-2">
                    <label for="startDate">Debut:</label>
                </div>
                <div class="col-2">
                    <label for="endDate">Fin:</label>
                </div>
                <div class="col">
                    <label for="quote">Reponse ?:</label>
                </div>
                <div class="col">
                    <label for="retweet">Retweet ?:</label>
                </div>
                <div class="col">
                    <label for="lang">Langue:</label>
                </div>
                <div class="col">
                    <label for="sort">Tri:</label>
                </div>
                <div class="col">
                    <label for="limit">Limite:</label>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-select" name="htag" id="htag">
                        <option value="">Tout</option>
                            {%for htag in htags %}
                                <option value="{{htag}}" {%if htag == current_htag%}selected{%endif%}>{{htag}}</option>
                            {%endfor%}
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="source" id="source">
                        <option value="">Tout</option>
                            {%for source in sources %}
                                <option value="{{source}}" {%if source == current_source%}selected{%endif%}>{{source}}</option>
                            {%endfor%}
                    </select>
                </div>
                <div class="col-2">
                    <input
                        class="form-control"
                        type="date"
                        id="startDate"
                        name="startDate"
                        min="1970-01-01"
                        value="{{current_start_date}}"
                    />
                </div>
                <div class="col-2">
                    <input
                        class="form-control"
                        type="date"
                        id="endDate"
                        name="endDate"
                        min="1970-01-01"
                        value="{{current_end_date}}"
                    />
                </div>
                <div class="col">
                    <select class="form-select" name="quote" id="quote">
                        <option value="">Indifferent</option>
                        <option value="True" {%if current_quote == "True" %}selected{%endif%}>Oui</option>
                        <option value="False" {%if current_quote == "False" %}selected{%endif%}>Non</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="retweet" id="retweet">
                        <option value="">Indifferent</option>
                        <option value="True" {%if current_retweet == "True" %}selected{%endif%}>Oui</option>
                        <option value="False" {%if current_retweet == "False" %}selected{%endif%}>Non</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="lang" id="lang">
                        <option value="">Tout</option>
                            {%for lang in langs %}
                                <option value="{{lang}}" {%if lang == current_lang%}selected{%endif%}>{{lang}}</option>
                            {%endfor%}
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="sort" id="sort">
                        <option value="created_at" {% if current_sort == "created_at" %} selected {%endif%}>Date</option>
                        <option value="htag" {% if current_sort == "htag" %} selected {%endif%}>Hashtag</option>
                        <option value="source" {% if current_sort == "source" %} selected {%endif%}>Source</option>
                        <option value="favorite_count" {% if current_sort == "favorite_count" %} selected {%endif%}>Favoris</option>
                        <option value="retweet_count" {% if current_sort == "retweet_count" %} selected {%endif%}>Retweets</option>
                        <option value="lang" {% if current_sort == "lang" %} selected {%endif%}>Langue</option>
                    </select>
                    <span>
                        <input
                            type="checkbox"
                            id="order"
                            name="order"
                            value="desc"
                            {% if current_order == "desc" %} checked {%endif%}
                        >
                        <label for="order">Descendant</label>
                    </span>
                </div>
                <div class="col">
                    <input
                        class="form-control"
                        type="number"
                        id="limit"
                        name="limit"
                        value={{count|stringformat:"i"}}
                    />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary"/>
                        Filtrer
                    </button>
                </div>
            </div>
        </form>

        <div>{{count}} valeurs</div>

        <div
            id="downloadDiv"
            style="
                margin: 0 auto;
                width: fit-content;
            "
        >
            {% if count < 1000000 %}
            <a
                href="download?htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}"
                download=
                    {%if current_htag == "None" or current_htag == ""%}"Media.csv"
                    {%else%}"{{current_htag}}.csv"
                    {%endif%}
                type="button"
                class="btn btn-primary downloadButton"
                onClick="clickOnDownload();"
            >
                Telecharger le CSV
            </a>
            {%endif%}
        </div>

        {%if count >= 100000%}
            <div id="downloadText" class="alert alert-warning" style="display: none; width: fit-content; margin: 10px auto 0">La génération peut prendre quelques minutes, merci de ne pas quitter la page</div>
            {%elif count >= 10000%}
            <div id="downloadText" class="alert alert-warning" style="display: none; width: fit-content; margin: 10px auto 0">La génération peut prendre quelques secondes, merci de ne pas quitter la page</div>
        {%endif%}

        <nav aria-label="Pagination">
        <div class="container p-4">
            <div class="pagination justify-content-center">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&laquo;</a>
                    <a href="?page={{ page_obj.previous_page_number }}&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&#139;</a>
                {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&#155;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&raquo;</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </nav>


        <table class="table table-hover table-striped">
            <thead>
                <tr style="cursor: pointer">
                    <th scope="col" onClick="clickOnColumn(this)" id="htag">Hashtag {% if current_sort == "htag" and current_order == "" %}&uarr;{% elif current_sort == "htag" %}&darr;{%endif%}</th>
                    <th scope="col" onClick="clickOnColumn(this)" id="created_at">Date {% if current_sort == "created_at" and current_order == "" %}&uarr;{% elif current_sort == "created_at" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="screen_name">Pseudo {% if current_sort == "screen_name" and current_order == "" %}&uarr;{% elif current_sort == "screen_name"%}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="text">Text {% if current_sort == "text" and current_order == "" %}&uarr;{% elif current_sort == "text" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="source">Source {% if current_sort == "source" and current_order == "" %}&uarr;{% elif current_sort == "source" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="is_quote">Reponse {% if current_sort == "is_quote" and current_order == "" %}&uarr;{% elif current_sort == "is_quote" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="is_retweet">Retweet {% if current_sort == "is_retweet" and current_order == "" %}&uarr;{% elif current_sort == "is_retweet" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="favorite_count">Favoris {% if current_sort == "favorite_count" and current_order == "" %}&uarr;{% elif current_sort == "favorite_count" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="retweet_count">Retweets {% if current_sort == "retweet_count" and current_order == "" %}&uarr;{% elif current_sort == "retweet_count" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="lang">Langue {% if current_sort == "lang" and current_order == "" %}&uarr;{% elif current_sort == "lang" %}&darr;{%endif%}</th></th>
                    <th scope="col" onClick="clickOnColumn(this)" id="description">Description {% if current_sort == "description" and current_order == "" %}&uarr;{% elif current_sort == "description" %}&darr;{%endif%}</th></th>
                </tr>
            </thead>
            <tbody style="vertical-align: middle">
                {% for ticker in page_obj %}
                    <tr>
                        <td>{{ticker.htag}}</td>
                        <td>{{ticker.created_at|date:"d/m/y H:i"}}</td>
                        <td>{{ticker.screen_name}}</td>
                        <td>{{ticker.text|truncatechars:150}}</td>
                        <td>{{ticker.source}}</td>
                        <td>{{ticker.is_quote}}</td>
                        <td>{{ticker.is_retweet}}</td>
                        <td>{{ticker.favorite_count}}</td>
                        <td>{{ticker.retweet_count}}</td>
                        <td>{{ticker.lang}}</td>
                        <td>{%if ticker.description%}{{ticker.description|truncatechars:100}}{%endif%}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Pagination">
        <div class="container p-4">
            <div class="pagination justify-content-center">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&laquo;</a>
                    <a href="?page={{ page_obj.previous_page_number }}&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&#139;</a>
                {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&#155;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&htag={{current_htag}}&source={{current_source}}&startDate={{current_start_date}}&endDate={{current_end_date}}&quote={{current_quote}}&retweet={{current_retweet}}&lang={{current_lang}}&sort={{current_sort}}&order={{current_order}}&limit={{current_limit}}">&raquo;</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}