{% extends 'base.html' %} {% load crispy_forms_filters %} {% load
crispy_forms_tags %} {% block content %} {% if form.errors %}
<p>Nom d'utilisateur et/ou mot de passe incorrect.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>Votre compte n'a pas acces a cette page.</p>
{% else %}
<p>Connectez vous pour voir cette page.</p>
{% endif %} {% endif %}

<form
  method="post"
  action="{% url 'login' %}"
  style="
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%
  ">
  {% csrf_token %} {{form.username|as_crispy_field}}
  {{form.password|as_crispy_field}}
  <button type="submit" class="btn btn-primary"/>
    Connexion
  </button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}